[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
azure = "*"
azure-functions = "*"

[packages]
azure-storage = "*"
azure-storage-blob = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
